@{
    ViewBag.Title = "Examen";
}

<div class="jumbotron">
    <h1>TIMBOX</h1>
    <p class="lead">
        Timbox es un Proveedor Autorizado de Certificación (PAC) que ofrece el servicio de timbrado y 
        cancelación de Comprobantes Fiscales Digitales por Internet (CFDI) a través de un servicio web, 
        con número de autorización del SAT: 0184 y con fecha de autorización del 02 de septiembre de 2016. 
        Timbox es una empresa en crecimiento y en búsqueda de desarrollar e implementar nuevas soluciones que les permita a nuestros clientes ser más competitivos y estar en cumplimiento con las obligaciones fiscales ante la autoridad, con ello buscamos ofrecer un mejor servicio día con día y el mejor servicio de atención a clientes de todo México.
.</p>
  
</div>

